* {
    margin: 0;
    padding: 0;
}

.input-box {
    background-color: #9B9B9B;
    border-radius: 5px 5px 5px 5px;
    width: 60vw;
    margin-left: 12px;
    padding-left: 1vw;
    line-height: 2rem;
}

input {
    border: none;
    outline: none;
    background-color: #9B9B9B;
    width: 89%;
    margin-left: 5px;
}

.search-btn{
    cursor: pointer;
}

.home-btn {
    margin-left: auto;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.ratings{
    margin-left: auto;
}

.details-title {
    margin-left: 12px;
}

.details-page {
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;
    height: 35vw;
    width: 98vw;
    font-size: x-large;
    border: none;
}

.details-img {
    height: 35vw;
}

.spinner {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2vw;
}

@media (min-width: 512px) {
.col-cards {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

